@using AbpCompanyName.AbpProjectName.Web.Views.Shared.Components.RightNavbarLanguageSwitch
@model RightNavbarLanguageSwitchViewModel

<li class="nav-item dropdown nav-language-menu">
    <a href="#" class="nav-link" data-toggle="dropdown">
        <i class="language-icon @Model.CurrentLanguage.Icon" title="@Model.CurrentLanguage.DisplayName"></i>
        <span>@Model.CurrentLanguage.DisplayName</span>
        <b class="fas fa-caret-down"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        @foreach (var language in Model.Languages)
        {
            if (language.Name != Model.CurrentLanguage.Name)
            {
                <a class="dropdown-item" href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)">
                    <i class="language-icon @language.Icon"></i> @language.DisplayName
                </a>
            }
        }
    </div>
</li>
