@using AbpCompanyName.AbpProjectName.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<AbpCompanyName.AbpProjectName.MultiTenancy.Dto.TenantDto>
@{
    ViewBag.Title = L("Tenants");
    ViewBag.CurrentPageName = PageNames.Tenants;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Tenants/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Tenants/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Tenants")</h1>
            </div>
            <div class="col-sm-6">
                <a href="#" data-toggle="modal" data-target="#TenantCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                <div class="abp-advanced-search">
                                    <div class="input-group">
                                        <button type="button" class="btn bg-blue btn-search input-group-prepend">
                                            <span class="fa fa-search" aria-hidden="true"></span>
                                        </button>
                                        <input type="text" class="form-control" placeholder="@L("TenancyName")" />
                                        <div class="dropdown input-group-append">
                                            <button type="button"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="fa fa-filter"></i>
                                                &nbsp;
                                                <span class="fa fa-angle-down"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" role="menu" style="padding: 0">
                                                <div class="card" style="margin-bottom: 0">
                                                    <form id="TenantsSearchForm" class="form-horizontal">
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <label class="col-md-3 col-form-label">@L("Name")</label>
                                                                <div class="col-md-10">
                                                                    <input name="Name" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-md-3 col-form-label">@L("IsActive")</label>
                                                                <div class="col-md-10">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" name="IsActive" id="isActiveFilterFalse" class="is-active-filter" value="false" checked />
                                                                            @L("Yes")
                                                                        </label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input name="no" type="checkbox" checked>
                                                                            <input type="checkbox" name="IsActive" id="isActiveFilterTrue" class="is-active-filter" value="true" checked />
                                                                            @L("No")
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="button" class="btn btn-default">@L("Clear")</button>
                                                            <button type="button" class="btn btn-info btn-search float-right">@L("Search")</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table id="TenantsTable" class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px">@L("Actions")</th>
                                            <th>@L("TenancyName")</th>
                                            <th>@L("Name")</th>
                                            <th>@L("IsActive")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Tenants/_CreateModal.cshtml")

<div class="modal fade" id="TenantEditModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>